.login-form{
    max-width: 400px;
    margin: 60px auto;
}
.login-form label {
    
    margin-bottom: 20px;
}
.login-form span{
    display: block;
    margin-bottom: 5px;
}
.login-form input{
    display: block;
    padding:0.3em 2em;
    width: 100%;
    font-size:1.2em;
    color: #777;
}

.login-form button{
    display: block;
}