.login-form{
    max-width: 400px;
    margin: 60px auto;
}
.login-form label {
    
    margin-bottom: 20px;
    color: #1f9751;
}
.login-form span{
    display: block;
    margin-bottom: 5px;
}
.login-form input{
    display: block;
    padding:0.3em 2em;
    width: 100%;
    font-size:1.2em;
    color: #777;
    border-color: #1f9751;;
}

.login-form button{
    display: block;
}
.login-form h2 {
   color: #1f9751;;
}
 input:focus{
    border-width: 0px;
 ;
}