.login-form{

    
    max-width: 40%;
    margin: 60px auto;
}
.login-form label {
    display: block;
    margin-bottom: 20px;
    color: #1f9751;
}
.login-form span{
    display: block;
    margin-bottom: 5px;
}
.login-form input{
    display: block;
    padding:0.3em 2em;
    margin-bottom: 0.8em;
    width: 100%;
    font-size:1rem;
    color: #1f9751;
    border-radius: 5px
}

.login-form button{
    display: block;
}
.login-form h2 {
   color: #1f9751;;
}
@media(max-width:900px){
    .login-form{
        min-width:96%
    }
}
