.container{
    display: flex;
    max-width: 960px;
    margin: 60px auto;
    
}

.content{
    flex:2;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #effaf0 #fff;
    
    padding-right: 30px;}

    .content:hover{
        scrollbar-color: #1f9751 #fff;
    }

.side{
    flex:1;
    
    padding-left: 30px;
}
.side form {
    padding: 10px;
    background-color: #1f9751;
    border-radius: 10px;
}

.side input , .side select {
    display: block;
    width: 92%;
    font-size: 1em;
    
    padding: 10px;
    margin-top: 10px;
    color: #555;
    border: 0;
    border-radius: 5px;
}
.side label{
    display: block;
    margin:0 auto 20px;
    color: #fff;
}
.side h3 {
    color:#1f9751;
    margin-bottom: 20px;
    font-weight: bold;
}
.side button{
    display: block;
    width: 100%;
    border: 1px solid #fff;
    color:#fff;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
}
.side .aside{
    margin-top: 40px;
    color:#555;
}
.side .aside li{
    margin: 10px;
}

.transactions li{
    margin: 30px auto;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    border-left: 4px solid #1f9751;
    overflow: hidden;
    position: relative;
    
}
.transactions .name {
    color: #777;
    font-size: 1.4em;

}
.transactions .date{
    position: absolute;
    color:#337;
    opacity: 0.3;
    font-size: 0.9em;
    bottom: 0;
    
    
}
.transactions .amount{
 margin-left: auto;
 margin-right: 40px;
 font-size: 1.6em;
 font-weight:bold;
 color: #777;
}
.transactions button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: .9em;
    padding: 4px 8px;
    border-radius: 50%;
    border: none;
    
}
@media(max-width:800px){
    .container{
        width:92%;
        margin: 2rem auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        max-height: 80vh;
        align-items: center;
        overflow-y: hidden;
        align-items: center;
    }
    .transactions{
        
        padding: 2rem 1rem;
        margin-right: 1rem;
        width: 100%;
    }
    .transactions li{
        margin: 10px auto;
        border: 1px solid #f2f2f2;
        box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
        display: flex;
        align-items: center;
        padding: 10px;
        border-left: 3px solid #1f9751;
        overflow: hidden;
        position: relative;
        
    }
    .side{
        flex: 1;
        order:1;
        text-decoration: center;
        padding: 5px 10px;
        width: 80%;
    }
    .content{
        flex: 3;
        order: 2;
        margin-top: 0;
        margin: 1rem auto;
        max-height: 240px;
        min-width: 80%;
    }
    .side input , .side select {
        display: block;
        width: 92%;
        font-size: 0.8em;
        
        padding: 5px 1px;
        margin-top: 5px;
        color: #555;
        border: 0;
        border-radius: 5px;
    }
    .side button{
        width: 92%;
    }
    
}