.navbar{
 width:100vw;
background: #effaf0;
padding: 20px 10px;
box-sizing: border-box;
}

 .navbar ul{
   display: flex;
   margin: 0 auto;
   min-width: 960px;
   align-items: center;
   list-style-type: none;
   color: #1f9751;
   font-weight: bold;
}
.title{
    font-size: 1.5em;
    color: #1f9751;
    font-weight: bold;
    
    margin-right: auto;
    
    letter-spacing: 1px;

}
.title span{
    font-size: 0.4em;
    margin-left: 2em;
}

.navbar button , .navbar a{
    margin-left: 16px;
    color: #1f9751;
    border-width: 0px;
}


.navbar a{
color: #1f9751;
text-decoration: none;
}