.signup{
    max-width: 400px;
    margin: 60px auto;
}
.signup label {
   color: #1f9751;
    margin-bottom: 20px;
}
.signup span{
    display: block;
    margin-bottom: 5px;
}
.signup input{
    display: block;
    padding:0.3em 2em;
    width: 100%;
    font-size:1.2em;
    color: #1f9751;
    border-radius: 5px;
}

.signup button{
    display: block;
}
h2{
    color:#1f9751;
}