




button {
  
  border-radius: 8px;
  border: 1px solid green;
  padding: 0.2em 2em;
  font-size: 1.2em;
  font-weight: 500;
  
  background: none;
  cursor: pointer;
  color:green;
  
}
button:hover {
  background: green;
  color:#fff;
}


