

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /*background-image: url('./assets/money.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  opacity: 1;8 */
  background-color:rgba(213, 223, 220, 0.786)
}



button {
  
  border-radius: 8px;
  border: 1px solid green;
  padding: 0.2em 2em;
  font-size: 1.2em;
  font-weight: 500;
  
  background: none;
  cursor: pointer;
  color:green;
  
}
button:hover {
  background: green;
  color:#fff;
}


